
<head>
	<title> {{ pageName }} </title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
<!--	<link rel="stylesheet" href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
--->
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!--	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
--->
	<script src="{{ url_for('static', filename='js/config.js', version='107')}}"></script> 

	<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
	<script src="{{ url_for('static', filename='js/hostEditor.js', version='104')}}"></script> 


	<style>
	.jumbotron{
		background-color: #2E2D88;
		color:aqua;
	}
	
	.btn-circle {
 		border-radius: 60%;
		margin:5px;
	}

	.container {
 	   	width: 100%;
   	 	padding-right: 6px;
   	 	padding-left: 6px;
   	 	margin-right: auto;
    		margin-left: auto;
		padding-top:6px;
		padding-bottom:4px;
	}	
	input:disabled {
	  opacity: 50%;
	  background: #ccc;
	}
	select:disabled {
	  opacity: 50%;
	  background: #ccc;
	}
	button:disabled {
	  opacity: 50%;
	}
	</style>

</head>
	
<body>
<!--<center><h1>Component Configuration Form</h1></center>-->

<!--<div class="container">-->
<!--<form></form>-->
<!--<div id="res" class="alert"></div>-->
  <div class="flex mb-4">
    <div class="w-full">
      <div class="container" id="editor-holder">
      </div>
    </div>
  </div>
	
  <div class= "container w-full" id="buttons" data-theme="tailwind">
  </div>
	

    <script type="text/javascript">
      $(document).ready(function() {
			
      var flag = '{{ flag }}';
      var schemas = JSON.parse('{{ schemaChoices | tojson | safe}}');
      var schema = JSON.parse('{{ schema | tojson | safe }}');
      //console.log(schemas);
      var value = JSON.parse('{{ component | tojson | safe }}');
      var editor;
      var generalSchema = JSON.parse('{{ generalSchema | tojson | safe}}'); 
      
      JSONEditor.defaults.options.required_by_default = true;
      JSONEditor.defaults.options.disable_edit_json = true;	
      JSONEditor.defaults.options.disable_properties = true;
      JSONEditor.defaults.options.disable_collapse = true;
      JSONEditor.defaults.options.show_errors = "always";
      JSONEditor.defaults.options.compact = true;

      JSONEditor.defaults.resolvers.unshift(function(schema) {
        if(schema.format === "host") {
          return "hostEditor";
        }
        // If no valid editor is returned, the next resolver function will be used
      });
      /////////************************************ The schema options is displayed if the add button is clicked(depending on the flag) ***************************////////////
      
      if(schema == "error"){
        alert("The schema does not exist or does't have the right format");
      }	
      else{
          //console.log("this is the schema in config:", schema);
          improvedSchema = improveSchema(generalSchema, schema);
          loadSchema(improvedSchema, value);
          loadButtons(flag, '{{ fileName }}' , '{{ boardName }}');
      }			
						
      

      setInterval(function(){disableConfigWindow();}, 500);
      });
    </script>
    	
</body>
