<html>
<head>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- LOCALIZERS: You might want to change the font family. You can also add styles to override sizes, etc. -->
    <style>
    </style>
    <!-- LOCALIZERS: The next line contains the page title that appears in the window's title bar -->
</head>

<body>
	<h1>This json file is damaged. Please Fix it.</h1>
</body>

</html>
