<div class = "row">
  <div class = "col-3">	
    <a href="http://epdtdi-daqtest:3000/d/epfNxnHWz/faser_metrics?orgId=1&from=now-5m&to=now&refresh=5s" style='font-size:2em' target="_blank" >Monitoring</a>
  </div>
  <div class = "col-6">
    <div class = "page-header">
      <center><h1 class="display-2">FASER Run Control</h1></center>
    </div>
  </div>
  <div class= "col-3">
    <div class = "images">
      <img src="{{ url_for('static', filename='img/faserLogo.jpeg')}}", style="width:250px;height:100px;" height="35" width="30" >
    </div>
  </div>
</div>
