
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">


    {% block head %}
      <title>{% block title %} Values for {{source}} / {{ moduloId }} {% endblock %}</title>
    {% endblock %}
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--<script src="{{ url_for('static', filename='css/circular.css')}}"></script> -->
    <link href="{{ url_for('static', filename='css/circular.css')}}" rel="stylesheet" type="text/css">
  </head>
  <body>
	
		
	<table class="table thead-dark table-striped table-hover">
		<thead>
			<tr>
				<th scope="col"> Key </th>	
				<th scope="col"> Value </th>
				<th scope="col"> Time </th>
			<tr>
		<thead>

		<tbody id = "table-body">
		</tbody>

      </table>


	<div class='container'id= "circleContainer" style = "margin-bottom: 65px; padding-top:0px">
	</div>

		<script>
				numberOfElm = 12;
				var container = document.getElementById("circleContainer");
				var circle = document.createElement("ul");
				container.appendChild(circle);

				circle.className = "circle-container-" + numberOfElm;
				for (i=1; i <= numberOfElm ; i++){
			
						
					var item = document.createElement("li");
					circle.appendChild(item);

					var chip = document.createElement("span");
					chip.id="Chip" + i
					chip.className = "badge badge-info";

					item.appendChild(chip);
					//alert(btn.id);
					
				}

				setInterval(function(){ updateValues();}, 1000);
		</script>		

		
	<script>

		function updateValues(){
			$.ajax({url:"/monitoring/info/" +'{{source}}'+ "/" + '{{ moduleId }}' + "/getData", async:false, success:
			function(data){
				console.log("chip vlaues:" , data.values);
			
			var tableBody = document.getElementById("table-body");
			while(tableBody.firstChild && tableBody.removeChild(tableBody.firstChild));	

			for(var i = 0; i < Object.keys(data.values).length; i++){
				if(data.values[i].key.includes("Chip")){
				
					chipId = data.values[i].key.split("_")[0];
					valueName = data.values[i].key.split("_")[1];
					value = data.values[i].value;
					
					//alert(moduleId);
					var chip = document.getElementById(chipId);
					while(chip.firstChild && chip.removeChild(chip.firstChild));	

					var t = document.createTextNode(valueName + ": " + value);
					chip.appendChild(t);

					var spn = document.createElement("span");
					spn.innerHTML = "&nbsp;"
					chip.appendChild(spn);
				}
				else{	
					var tr = document.createElement("tr");

					var th1 = document.createElement("th");
					th1.innerHTML = data.values[i].key;
	

					var th2 = document.createElement("th");
					th2.innerHTML = data.values[i].value;


					var th3 = document.createElement("th");
					th3.innerHTML = data.values[i].time;

					tr.appendChild(th1);
					tr.appendChild(th2);
					tr.appendChild(th3);

					tableBody.appendChild(tr);
				}
			}

			}});
			
		}
		
		
	
	</script>

	

</body>
</html>
