<head>
  <link href="{{ url_for('static', filename='css/circular.css')}}" rel="stylesheet" type="text/css">
  <style>
    hr.dashed{
      border-top: 2px dashed green;
      margin-bottom:0px;
      margin-top:2px;
    }			
  </style>

</head>
    
<div class="page-header"  style = "margin-left:10px; padding-bottom: 15px; padding-top:15px">
  <h2> Values for {{module}} from {{ source }} <h2>
</div>
		

<div class='container'id= "circleContainer" style = "margin-bottom: 65px; padding-top:0px">
</div>
    
<script>
      numberOfElm = 12;
      var container = document.getElementById("circleContainer");
      var circle = document.createElement("ul");
      container.appendChild(circle);

      circle.className = "circle-container-" + numberOfElm;
      for (i=1; i <= numberOfElm ; i++){
			
		     var item = document.createElement("li");
		     circle.appendChild(item);
		     
					
		     var chip = document.createElement("span");
		     chip.className = "badge badge-info";
					

		     var labelDiv = document.createElement("div");
		     chip.appendChild(labelDiv); 

		     var label = document.createElement("span");
		     label.innerHTML = "Chip" + i;	
		     label.className="label label-info";
		     labelDiv.appendChild(label);
											

		     var valuesDiv = document.createElement("div");
		     var dashed_line = document.createElement("hr");
		     dashed_line.className = "dashed";
		     
		     chip.appendChild(dashed_line);

		     valuesDiv.id = "Chip" + i;
		     chip.appendChild(valuesDiv);
		     
		     item.appendChild(chip);

	}

</script>		

{% include 'custom/table.html' %}
