.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card_histo_cont {
    display: grid;
    place-items: center;
}

.histogram_container {
    background-color: rgb(224, 224, 224);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}

.hist_title {

    text-transform: uppercase;
    font-size: 0.67em;
}

.timestamp {
    color: gray;
    font-size: 0.6em;
}
