<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <title>Run Control</title>
</head>

<body>
<h1> Invalid State </h1>
Please retry to log in again after clicking this link : <a href="{{ url }}"> {{ url }}</a> <br/> <br/>
If it's still not working, try the following steps : 
<ol>
  <li>Manually remove everything that is not the base url in the url displayed in the search bar. In our case, it is everything that is not "{{ url }}" and press enter </li>
  <li>Try to log in again </li>
</ol>
</body>

</html>