<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- axios for AJAX calls-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- include VueJS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- use the latest vue-select release -->

    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- Vuetify dependencies-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <!-- day.js manipulating timestamps -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
        integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/utc.min.js"
        integrity="sha512-m00bfmYnAl3plEBlQfeQUhw/U2uvmw29V2+jxSWpAjankMWS+zAsjezbKWDEJNXqWq9o9qQZSOiA2RKDpa4D5w=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/timezone.min.js"
        integrity="sha512-pslqxxHAYPCxaSeFSmXXxDkLejD5dbFVC66aiVq0z4v7VTJBU+wqcG1OpNh4p3MjS2D6NCwz/H2QmSc7dXxryg=="
        crossorigin="anonymous"></script>

    <!-- Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- custom css -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>History/{{ ID }}</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-card>
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="previous_histo" :disabled="c_left_disabled">
                            <v-icon> mdi-arrow-left-thick </v-icon>
                        </v-btn>
                        <v-btn icon @click="next_histo" :disabled="c_right_disabled">
                            <v-icon>mdi-arrow-right-thick</v-icon>
                        </v-btn>
                        <v-select dense outlined flat hide-details :items="c_timestamps" v-model="c_selected">
                            <template v-slot:item="{ item }">
                                [[ item | timestampDisplay ]]
                            </template>
                            <template v-slot:selection="{ item }">
                                [[ item | timestampDisplay ]]
                            </template>
                        </v-select>
                        <v-spacer></v-spacer>
                        <v-tooltip top transition="fade-transition" open-delay="500">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn class="mx-2" v-bind="attrs" v-on="on" @click="toggleCompareMenu">
                                    <v-icon>mdi-select-compare </v-icon>
                                </v-btn>
                            </template>
                            <span> Substract previous histograms </span>
                        </v-tooltip>

                    </v-card-title>
                    <div id="compareSection" v-show="c_compare_menu_toggled"
                        style="display: flex;justify-content: center; flex-direction: column;">
                        <div class="text-subtitle-1 text-center font-italic mb-2"> Select another histogram to compare
                        </div>

                        <div class="d-inline-flex mb-2">
                            <v-select dense outlined flat hide-details class="ml-8" :items="c_timestamps"
                                v-model="c_selected2">
                                <template v-slot:item="{ item }">
                                    [[ item | timestampDisplay ]]
                                </template>
                                <template v-slot:selection="{ item }">
                                    [[ item | timestampDisplay ]]
                                </template>
                            </v-select>

                            <v-btn class="mx-4" @click="compare_histo"> compare </v-btn>

                        </div>
                    </div>
                    <v-divider></v-divider>

                    <v-card-text class="card_histo_cont">
                        <plotly-graph v-if="c_figure" :figure="c_figure" :divid="c_ID"></plotly-graph>
                    </v-card-text>
                </v-card>
            </v-main>
        </v-app>
    </div>
    <script src="{{ url_for('static', filename = 'js/plotlyComponent.js') }}"> </script>
    <script>
        const timezone = window.dayjs_plugin_timezone
        const UTC = window.dayjs_plugin_utc
        dayjs.extend(timezone)
        dayjs.extend(UTC)

        const EventBus = new Vue();

        ////////////// Main Component //////////////
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                c_ID: "{{ ID | safe }}",
                c_timestamps: [],
                c_selected: null,
                c_selected2: null,
                c_left_disabled: false,
                c_right_disabled: true,
                c_figure: null,
                c_compare_menu_toggled: false
            },
            delimiters: ["[[", "]]"],
            filters: {
                timestampDisplay: function (timestamp) {
                    if (timestamp.includes("R")) {
                        var elements = timestamp.split("R") // (old:)timestamp+runNumber
                        if (timestamp.includes("old")) {
                            return "old:" + dayjs.unix(elements[0].slice(4)).format("HH:mm:ss (DD/MM)") +
                                " Run: " + elements[1]
                        } else {
                            return dayjs.unix(elements[0]).format("HH:mm:ss (DD/MM)") +
                                " Run: " + elements[1]
                        }
                    } else {
                        if (timestamp.includes("old")) {
                            return "old:" + dayjs.unix(timestamp.slice(4)).format("HH:mm:ss (DD/MM)")
                        } else {
                            return dayjs.unix(timestamp).format("HH:mm:ss (DD/MM)")
                        }
                    }
                }
            },
            watch: {
                c_selected: function (value) {
                    const index = this.c_timestamps.indexOf(value)
                    if (index == 0) {
                        this.c_right_disabled = true
                        this.c_left_disabled = false
                    } else if (index == this.c_timestamps.length - 1) {
                        this.c_left_disabled = true
                        this.c_right_disabled = false
                    } else {
                        this.c_left_disabled = false
                        this.c_right_disabled = false
                    }

                    axios.get('/stored_histogram', {
                            params: {
                                ID: this.c_ID,
                                args: value
                            }
                        })
                        .then(response => {
                            this.c_figure = response.data["figure"]
                        })
                        .catch(function (error) {
                            console.log("The stored histogram is not in the right format ")
                        })
                }
            },

            mounted() {
                axios.get('/stored_timestamps?ID={{ ID }}')
                    .then(response => {
                        this.c_timestamps = response.data["ts"].concat(response.data["ots"])
                        this.c_selected = this.c_timestamps[0]
                    })
            },
            methods: {
                next_histo() {
                    const index = this.c_timestamps.indexOf(this.c_selected)
                    this.c_selected = this.c_timestamps[index - 1]

                },

                previous_histo() {
                    const index = this.c_timestamps.indexOf(this.c_selected)
                    this.c_selected = this.c_timestamps[index + 1]
                },
                toggleCompareMenu() {
                    this.c_compare_menu_toggled = !this.c_compare_menu_toggled
                },

                compare_histo() {
                    if (this.c_selected2) {
                        axios.post('/compare_histograms', {
                                ID: this.c_ID,
                                ts1: this.c_selected,
                                ts2: this.c_selected2
                            })
                            .then(response => {
                                this.c_figure = response.data.figure
                            })
                    }
                    else {
                        console.log("Nothing selected");
                    }
                }
            },
        });
    </script>
</body>

</html>