{% extends "layout.html" %}
{% block titletab %} {{ selected_module.name }} - Faser Dashboard {% endblock %}

{% block navbar %}
<div>
    <img src="{{ url_for('static', filename = 'img/faser.png') }}" width="120" height="40" alt="" loading="lazy">
    <label class="navbar-brand mx-2">Dashboard - {{ selected_module.name }}</label>
</div>
<div class="mx-auto" id="module-choice">

    <form class="form-inline my-auto" method='POST' action="{{ url_for('home') }}">
        <button type="button" class="btn btn-light mx-3" id="refresh_modules">
            <span class="material-icons my-auto">refresh</span>
        </button>
        <label class="mx-2"> Module:</label>
        <select name="module_select" class="selectpicker form-control mx-2">
            {% for i in modules.data %}
            {% if i == selected_module.name %}
            <option value="{{ i }}" selected> {{ i }}</option>
            {% else %}
            <option value="{{ i }}"> {{ i }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mx-2">select</button>
    </form>
</div>
<div class="my-auto">
    <form class="form-inline my-auto" id="sort-div">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
{% endblock %}

{% block content %}
<a href="{{ url_for('home') }}">gfjdrkakrfgh5</a>
<div class="container-xl" id="graphs-top_container">
    {% for histo in selected_module.info%}
    <div class="card m-2" id="{{ histo }}"">
			<label id=" timestamp_{{ histo }}"></label>
        <figure id="figure_{{ histo }}">
            <div id="graph_{{ histo }}"></div>
        </figure>
    </div>
    {% endfor %}
</div>


<script>
    $("#refresh_modules").on('click', function () {
        location.href = "{{ url_for('home') }}";
    });
</script>

{% if selected_module.info %}
<script>
    var source = new EventSource('/{{ selected_module.name }}/{{ selected_module.info | join("-") }}');
    source.onmessage = function (event) {
        var data = event.data;
        var datapacket = JSON.parse(data);
        for (const hist in datapacket) {
            Plotly.react("graph_" + hist, datapacket[hist].figure)
        }
    }
</script>

{% endif %}
{% endblock %}