{% extends "basic.html" %}

{% block title %}
{{ ID }}
{% endblock %}

{% block content %}
<h2 style = "text-align: center;"> Historic View </h2>
<div id="commands" style = "text-align: center;">
<button id = "previous" class= "btn btn-secondary"> < </button>
  <select id="timestamps">
    {% if historic_timestamps %}
    {% for timestamp in timestamps%}
    <option value="{{ timestamp }}"> {{ timestamp | ctime }} </option>
    {% endfor %}
    {% for historic_timestamp in historic_timestamps | reverse %}
    <option value="old:{{ historic_timestamp }}"> old:{{ historic_timestamp | ctime }} </option>
    {% endfor %}
    {% endif %}
  </select>
<button id = "next" class= "btn btn-secondary"> > </button>
</div>

<div id="graph">

</div>
<h5 id = "time"></h6> 

{% if historic_timestamps %}
<script>
  var histo = {{ lastHisto | safe }};
  Plotly.plot("graph", histo.figure);


  // $('#time').text("Updated at " +  moment(histo.timestamp).format('LTS') );

//  var date = new Date(histo.timestamp * 1000);
//  var hr = date.getHours();
//  var m = "0" + date.getMinutes();
//  var s = "0" + date.getSeconds();
//  var time = hr + ':' + m.substr(-2) + ':' + s.substr(-2);
  var time = moment(histo.timestamp* 1000).format('h:mm:ss a (MM/DD/YY)');
  $('#time').text("State at  " + time);

</script>


<script>
  var number_elements = $("#timestamps option").length;

  $("#previous").on('click', function(){
    var nextIndex = $("#timestamps").prop('selectedIndex')+1;
    if (nextIndex <= number_elements-1){
      $("#timestamps").prop('selectedIndex', nextIndex);
      $("#timestamps").trigger("change")
    }
  });
  $("#next").on('click', function(){
    var previousIndex = $("#timestamps").prop('selectedIndex')-  1;
    if (previousIndex >= 0){
      $("#timestamps").prop('selectedIndex', previousIndex);
      $("#timestamps").trigger("change")
    }
  });

  $("#timestamps").on('change', function () {
  
    var selectedIndex = $("#timestamps").prop('selectedIndex');
    var value = $("#timestamps").val();

    $.ajax({
      url: "{{ url_for('change_histo') }}",
      type: "GET",
      contentType: 'application/json;charset=UTF-8',
      data: {
        'selected': value,
        'ID': "{{ ID | safe }}"
      },
      dataType: "json",
      success: function (data) {
        var data = JSON.parse(data);
        console.log(data);
        data.figure.layout.autosize = true;
        Plotly.react('graph', data.figure);
        var time = moment(data.timestamp* 1000).format('h:mm:ss a (MM/DD/YY)');
        $('#time').text("State at  " + time);

      }
    });
  });

</script>
{% endif %}

{% if not historic_timestamps %}
<p> No Previous histograms</p>
{% endif %}

{% endblock %}