@mixin on-circle($item-count, $circle-size, $item-size) {  
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  list-style: none;
  
  > * {
    //display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        -webkit-transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
            -ms-transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
                transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container-8 {
  @include on-circle($item-count: 8, $circle-size: 50em, $item-size: 20px); 
  margin: 5em auto 0;

  button { 
  }
}


.circle-container-12 {
  @include on-circle($item-count: 12, $circle-size: 20em, $item-size: 6em); 
  margin: 5em auto 0;
  //border: solid 5px tomato;

  button { 
    display: block; 
    max-width: 100%; 
    //border-radius: 50%;
   // -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    border: solid 5px tomato;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
     
    // &:hover {
    //  -webkit-filter: grayscale(0);
    //          filter: grayscale(0);
    //}
  }
}
